[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jedi = "*"
rope = "*"
pytest-aiohttp = "*"
asynctest = "*"

[packages]
pyipv8 = "==2.4.0"
requests-oauthlib = "*"
requests-http-signature = "*"
cryptography = "*"
aiohttp = "*"

[requires]
python_version = "3.7"
