[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jedi = "*"
rope = "*"

[packages]
pyipv8 = "*"
requests-oauthlib = "*"
requests-http-signature = "*"
cryptography = "*"

[requires]
python_version = "3.8"
